 <body>
  <%- include('../components/nav/nav' , { navList }) %>
  <section class='main'>
    <div class='main-container'>
      <%- include('../components/banner/banner', {
          bannerVideoPoster,
          bannerMobileVideoPoster,
          bannerVideoUrl,
          spanText,
          bannerImgPC,
          bannerImgMobile
        }) %>
      <%- include('./component/about/about', {
          aboutObject,
          aboutContainerFile,
          prizeList
        }) %>
      <%- include('./component/winners/winners', winnerObj) %>
      <%- include('../components/video/video', YTvideoinfo) %>
      <%- include('../components/termofuser/termofuse', navList) %>
    </div>
  </section>
</body>