<section id='about' class='about-container overflow-y-hidden'>
  <div class='title-container'>
    <h1>  <%= JSON.parse(titleList).about %> </h1>
    <p>1 Million Audition</p>
  </div>
  <div class='tab-container'>
    <ul>
      <% for(var i =0; i < aboutTagList.length; i++) { %>
        <li class="<%= i == currentStep ? 'active' : null %> subItem tab-item-text"><%= aboutTagList[i] %></li>
      <%
        }
      %>
    </ul>
    <div class='slider'>
      <div class='tab-item mobile-layout'>
        <div class='tab-item-img-container float-left width-49 float-sm-init'>
          <img src='/act/assets/phone.png'/>
        </div>
        <div class='tab-item-img-container float-right width-49 float-sm-init m-t-md'>
          <img src='/act/assets/about_tab_1.png' class='m-t-lg'/>
        </div>
      </div>
      <div class='tab-item'>
        <h1> <%= aboutSubList.cat %> </h1>
        <div class='tab-item-img-container m-t-lg'>
          <img src='/act/assets/about_tab_2_1.png' class='img-160 m-t-sm tmanual-width'/>
          <img src='/act/assets/about_tab_2_2.png' class='img-160 m-t-sm tmanual-width'/>
          <img src='/act/assets/about_tab_2_3.png' class='img-160 m-t-sm tmanual-width'/>
          <img src='/act/assets/about_tab_2_4.png' class='img-160 m-t-sm tmanual-width'/>
          <img src='/act/assets/about_tab_2_5.png' class='img-160 m-t-sm tmanual-width'/>
        </div>
      </div>
      <div class='tab-item'>
        <div class='tab-item-img-container width-100'>
          <h1> <%= aboutSubList.prize %></h1>
          <img src='/act/assets/about_tab_3_prize.png' class='img-vw m-t-md'/>
        </div>
      </div>
      <div class='tab-item'>
        <p> 
          <%= rule.titleText %>
        </p>
        <div class='round-container'>
          <div class='round-card'>
            <h2 class='line-height-55'><%= rule.round1 %></h2>
            <p class='line-height-39'>
              <%= rule.round1Text %>
              <small>2018/01/19-01/27</small>
            </p>
          </div>
          <div class='round-card'>
            <h2 class='line-height-55'><%= rule.round2 %></h2>
            <p class='line-height-39'>
              <%= rule.round2Text %>
              <small>2018/01/31-02/05</small>
            </p>
          </div>
        </div>
        <p> 
          <%= rule.subText %>
        </p>
        <p class='m-t-lg'> 
          <a href='javascript:void(0)' id='ruleClick' class='link'> <%= rule.click %> </a>
        </p>
      </div>
      <div class='tab-item'>
        <p><%= aboutSubList.seeyou %> </p>
        <div class='countDown' id='aboutPannel'>
          <ul>
            <li class='days countDownItem'>
              <span> 00 </span>
              <%= JSON.parse(spanText).day %>
            </li>
            <li class='hours countDownItem'>
              <span> 00 </span>
              <%= JSON.parse(spanText).hour %>
            </li>
            <li class='minutes countDownItem'>
              <span> 00 </span>
              <%= JSON.parse(spanText).minute %>
            </li>
            <li class='seconds countDownItem'>
              <span> 00 </span>
              <%= JSON.parse(spanText).second %>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>