
<header class="ampstart-headerbar">
  <div class='header-title'>
    <div class='icon'>
      <img src="/act/assets/musically_logo@2x.png" />
    </div>
  </div>
  <nav class="ampstart-headerbar-nav ampstart-nav">

    <%if(typeof langText == 'string'){%>
      <a href='<%=langTransfor%>' class='lang-transfor'><%= langText %></a>
    <% }%>
     <%if(!!showLanguageBtn){%>
      <div class='langBtnDrop'>
        <button>
          <%= langList.curr %>
          <img src="/act/assets/drop-down.svg" alt="musical.ly one million"/>
        </button>
        <ul class="dropdown-container">
          <%for(var item in langList.list){%>
            <li>
              <a href="<%=langList.list[item].link%>">
                <%= langList.list[item].title %>
              </a>
            </li>
          <%}%>
        </ul>
      </div>
    <% }%>
    <ul class="list-reset">
      <%for(const key in navList){%>
        <li class="ampstart-nav-item relative lune-underline-strike">
          <a href="#<%=key%>" class="text-decoration-none block"><%= navList[key] %></a>
        </li>
      <%}%>
    </ul>
  </nav>
</header>