<section id='winners'>
  <div class='winner-container'>
    <h1> <%= JSON.parse(titleList).winner %> </h1>
    <div class="nameList">
      <ul class="winner-top-container">
        <% for(var i=0; i< topFiveWinners.length; i ++ ) {%>
          <li class="winner-item">
            <img src="/act/assets/winners/<%=topFiveWinners[i].name%>.jpg"/>
            <span>
              <%=topFiveWinners[i].name%>
            </span>
            <p>
              <img src="/act/assets/d-icon.png"/>
              <%=topFiveWinners[i].dimonds%>
            </p>
          </li>
        <% } %>
      </ul>
    </div>
     <div class="winner-small-container">
     <% for(var i=0; i< 15; i++ ){ %>
      <span>@<%=winnerList[i]%></span>
      <% } %>
     </div>
    <a href="javascript:;" id="winnerList">......get all the winners</a>
  </div>
</section>