<section class='banner-container' id='home'>
  <img src='/act/assets/mobile-logo.png' class='mobile-logo'/>
  <div class='banner-content'>
    <img src='<%= bannerImgPC %>' class='banner-image banner-image-pc'/>
    <img src='<%= bannerImgMobile %>' class='banner-image banner-image-mobile'/>
    <a href='<%=langTransfor%>' class='lang-transfor-mobile'><%= langText %></a>
    <div class='countDown' id='bannerPanel'>
      <ul>
        <li class='days countDownItem'>
          <span> 00 </span>
          <%= JSON.parse(spanText).day %>
        </li>
        <li class='hours countDownItem'>
          <span> 00 </span>
           <%= JSON.parse(spanText).hour %>
        </li>
        <li class='minutes countDownItem'>
          <span> 00 </span>
           <%= JSON.parse(spanText).minute %>
        </li>
        <li class='seconds countDownItem'>
          <span> 00 </span>
           <%= JSON.parse(spanText).second %>
        </li>
      </ul>
    </div>
  </div>
</section>
<section class="m0 banner-mask">
  <video
    autoplay= "autoplay"
    poster="/act/assets/poster.jpeg"
    title="Big Buck Bunny"
    album="Blender"
    artist="Blender Foundation"
    layout="responsive"
    loop
    id='banner-video'
  >
    <source type="video/mp4" src="http://mpaw-sinc1.muscdn.com/ops/upload/default/2018/01/10/13/3ff7bedf-db8e-4b13-875a-f210cf205c55.mp4"></source>
  </video>
  <img src='http://mpaw-sinc1.muscdn.com/ops/upload/default/2018/01/10/13/050e882e-f102-4862-80ab-ae933d5ae50d.png'/>
</section>