<section id='about' class='about-section'>
  <div class="about-container">
    <div class='title-container'>
      <h1><%=aboutContainerFile.title%></h1>
      <p><%=aboutContainerFile.subDesc%></p>
    </div>
    <section class="badge-container">
      <ul>
        <% for(var i =0; i < aboutObject.length; i++) { %>
          <li>
            <figure>
              <img src="<%=aboutObject[i].src%>"/>
            </figure>
            <p><%=aboutObject[i].title%></p>
          </li>
        <%
          }
        %>
      </ul>
    </section>
    <section class="tab-container">
      <ul>
        <li class="subItem tab-item-text active">#ShareAndWinEU</li>
        <li class="subItem tab-item-text">Prize & Rules</li>
      </ul>
      <div class='slider'>
        <div class='tab-item mobile-layout'>
          <img src='<%=aboutContainerFile.phone%>' class="phone"/>
          <img src='<%=aboutContainerFile.description%>' class="description"/>
          <p>
            <%=aboutContainerFile.shareRuleClick.content%>
           <a href="#"><%=aboutContainerFile.shareRuleClick.clickHere%></a>
          </p>
        </div>
        <div class='tab-item prize-layout'>
          <% for(var i in prizeList) { %>
            <div class="prize-item">
              <div class="title-area">
                <h2>
                  <%=prizeList[i].title%>
                </h2>
                <span>
                  <%=prizeList[i].subtitle%>
                </span>
              </div>
              <div class="desc-area">
                <% for(var j =0; j < prizeList[i].desc.length; j++) { %>
                  <span> <%=prizeList[i].desc[j]%> </span>
                <%}%>
              </div>
            </div>
          <%
            }
          %>
          <p>
            <%=aboutContainerFile.prizeRuleClick.content%>
           <a href="#"><%=aboutContainerFile.prizeRuleClick.clickHere%></a>
          </p>
        </div>
      </div>
    </section>
  </div>
</section>