<section class='banner-container' id='home'>
  <img src='/act/assets/mobile-logo.png' class='mobile-logo'/>
  <div class='banner-content'>
    <img src='<%= bannerImgPC %>' class='banner-image banner-image-pc'/>
    <img src='<%= bannerImgMobile %>' class='banner-image banner-image-mobile'/>
    <%if(typeof langText == 'string'){%>
      <a href='<%=langTransfor%>' class='lang-transfor-mobile'><%= langText %></a>
    <% }%>
    <div class='countDown' id='bannerPanel'>
      <ul>
        <li class='days countDownItem'>
          <span> 00 </span>
          <%= JSON.parse(spanText).day %>
        </li>
        <li class='hours countDownItem'>
          <span> 00 </span>
           <%= JSON.parse(spanText).hour %>
        </li>
        <li class='minutes countDownItem'>
          <span> 00 </span>
           <%= JSON.parse(spanText).minute %>
        </li>
        <li class='seconds countDownItem'>
          <span> 00 </span>
           <%= JSON.parse(spanText).second %>
        </li>
      </ul>
    </div>
  </div>
</section>
<section class="m0 banner-mask">
  <%if(typeof noBannerVideo == 'boolean' && !noBannerVideo){%>
    <video
      autoplay= "autoplay"
      poster="<%=bannerMobileVideoPoster%>"
      title="Big Buck Bunny"
      album="Blender"
      artist="Blender Foundation"
      layout="responsive"
      loop
      muted
      x5-video-player-type="h5" 
      x5-video-player-fullscreen="false"
      class="mobile-video"
      playsinline
    >
      <source src="<%=bannerVideoMobile%>" type="video/mp4">
    </video>
    <video
      autoplay= "autoplay"
      poster="<%=bannerVideoPoster%>"
      title="Big Buck Bunny"
      album="Blender"
      artist="Blender Foundation"
      layout="responsive"
      loop
      x5-video-player-type="h5" 
      x5-video-player-fullscreen="false"
      muted
      class="pc-video"
      playsinline
    >
      <source src="<%=bannerVideoUrl%>" type="video/mp4">
    </video>
  <%}%>
</section>