
<script>
  <%- include('../../assets/js/jquery.js') %>
  <%- include('../../assets/js/slider.js') %>
  <%- include('../../assets/js/playinline.js') %>
</script>
<script>
  const timeNode = <%- JSON.stringify(setIntervalTimeNode) %>
  const YTP= <%- JSON.stringify(YTvideoinfo) %>
  const bannerGif =<%- JSON.stringify(bannerMobileVideoGif) %>
  const restTime = timeNode.restTime
  const winWidth = $(window).width()
  const winHeight = $(window).height()

  function initTermOfUse(){
    $(".ampstart-nav a[href$='officalRules'], #getTermOfUse")
    .on('click',function(){
      $('#section-container').removeClass('text-center')
      $.ajax({
        url: '/act/es/termofuse'
      }).done(appendTerm)
    })

    $('#rule').on('click', function(){
      $('#section-container').removeClass('text-center')
      $.ajax({
        url: '/act/es/rule'
      }).done(appendTerm)
    })


    $('#section-container').click(function(){
      $('#section-container.section-container-show').animate({
          top: '100vh'
        }, 100, function(){
        $('#section-container')
        .css("top",0)
        .removeClass('section-container-show text-center')
        $('body').removeClass('overflow-y-hidden')
      })
    })
  }

  function generateWinners(res){
    let result='';
    res.forEach(function(item){
      result=`${result}
        <li class="winner-item">
          <span>${ item }</span>
        </li>`
    })
    return result
  }

  function appendWinnerList(res){
    if(!res || !res.length){
      $('.winner-top-container')
      .html('waiting...')
      return
    }
    $('.winner-top-container')
    .html(generateWinners(res))
  }

  function appendTerm(res){
    $('#section-container')
    .addClass('section-container-show')
    .html(res)
    $('body').addClass('overflow-y-hidden')
  }

  function initBanner(){
    setTimeout(function(){
      $('.banner-image').addClass('banner-image-show')
    }, 800)

    $('#media iframe').width(winWidth)
    $('#media iframe').height(winWidth * YTP.proportion)
  }

  function slideInit(){
    $(".slider").slick({
      infinite: true,
      dots: false,
      slidesToShow: 1,
      autoplaySpeed: 2000,
      slidesToScroll: 1,
      pauseOnDotsHover: true,
      appendArrows: false,
      cssEase: 'linear',
      mobileFirst: true,
      initialSlide: timeNode.currentStep
    })
  }

  function initTime(day, hour, min, sec, ele){
    $(`${ele} .days span`).html(day < 10 ? `0${day}`: day)
    $(`${ele} .hours span`).html(hour < 10 ? `0${hour}`: hour)
    $(`${ele} .minutes span`).html(min < 10 ? `0${min}`: min)
    $(`${ele} .seconds span`).html(sec < 10 ? `0${sec}`: sec)
  }

  function countDownTime(time, ele){
    let sec = time[3]
    let min = time[2]
    let hour = time[1]
    let day = time[0]
    setInterval(function(){
      sec--
      if( sec <= 0 ){
        min--
        min <= 0? ( sec =0 ) : (sec = 59)
      }

      if(min <= 0){
        hour--
        hour <= 0? ( min =0 ) : (min = 59)
      }

      if(hour <= 0){
        day--
        day <= 0? ( hour =0 ) : (hour = 23)
      }

      if( day <= 0){
        day = 0
      }
      initTime(day, hour, min, sec, ele)
    }, 1000)
  }

  function initScroll(){
    window.onscroll = function(e) {
      $('.ampstart-headerbar').removeClass('theme-red-nav')
      if(window.scrollY >= winHeight + 100) {
        window.scrollY && winWidth > 769 && $('.ampstart-headerbar').addClass('theme-red-nav')
      }
    }
  }

  function transformBanner(){
    const isMOBILE = winWidth < 769
    const isAndroid = justifiy.isAndroid()
    $('.banner-mask video').each(function () {
      enableInlineVideo(this);
    });
    if( isMOBILE && isAndroid ){
      $('.banner-mask')
      .addClass('mobile')
      .attr('style', `background-image: url(${bannerGif});`);
      $('.banner-mask video').remove();
    }else {
      $('.banner-mask').attr('style', 'background-image: null;');
    }
  }

   function clickScroll(){
    $('.ampstart-headerbar-nav li a').click(function(e){
      const obj = $(`${this.hash}`).offset()
      if(!obj || typeof obj != 'object'){
        return
      }
      $('html, body')
      .animate(
        { scrollTop: obj.top },
        900,
        function(){
          $($(this.hash).selector).addClass('active').siblings().removeClass('active')
        }
      )
    })
  }

  var justifiy = {
    isWeixinBrowser: function(){
      return /micromessenger/.test(navigator.userAgent.toLowerCase())
    },
    isAndroid: function(){
      return (/android/i).test(navigator.userAgent)
    },
    IsSafari: function() {
      return navigator.userAgent.indexOf('Safari') != -1 && navigator.userAgent.indexOf('Chrome') == -1
    }
  }

  function SafariScable(){
    document.addEventListener('touchstart',function (event) {  
      if(event.touches.length>1){  
        event.preventDefault();  
      }  
    })  
    var lastTouchEnd=0;  
    document.addEventListener('touchend',function (event) {  
      var now=(new Date()).getTime();  
      if(now-lastTouchEnd<=300){  
          event.preventDefault();  
      }  
      lastTouchEnd=now;  
    },false)  
  }

  function getAllWinnerList(size, callback){
    var allHeight = winHeight * 0.8
    var allWidth = $('.nameList').width()
    var itemHeight = 48;
    var itemWidth = 189;
    var heightLength = allHeight / itemHeight
    var widthLength = allWidth / itemWidth
    var allLength = size > 0 ? size : Math.ceil(heightLength * widthLength)
    $.ajax({
      url: '/act/fetchWinnerList?source=us&length='+allLength
    }).done(callback)
  }

  function initLoadingAllWinnerList(){
    $('#fetchAllWinnerList').click(function(){
      $('#section-container').addClass('text-center')
      getAllWinnerList(10000, function(res){appendTerm(generateWinners(res))})
    })
  }


  function sliderInit(){
    $('.subItem').click(function(){
      $(".slider")
      .slick('slickGoTo', $(this).index())
      $(this)
      .addClass('active')
      .siblings()
      .removeClass('active')
    })
    $("#slick-meet").slick({
      pauseOnHover: true,
      pauseOnFocus: true,
      autoplay: true,
      infinite: true,
      dots: true,
      slidesToShow: window.outerHeight <= 812 ? 1 : 3,
      autoplaySpeed: 2000,
      slidesToScroll: window.outerHeight <= 812 ? 1 : 3,
      pauseOnDotsHover: true,
      appendArrows: false,
      mobileFirst: true
    })
  }

  $(function(){
    countDownTime(restTime, '#bannerPanel')
    slideInit()
    initScroll()
    transformBanner()
    initBanner()
    clickScroll()
    SafariScable()
    // getAllWinnerList(-1, appendWinnerList)
    // initLoadingAllWinnerList()
    sliderInit()
    initTermOfUse()
  })


</script>