
  <body>
    <%- include('./component/nav/nav' , { langTransfor, langText, navList }) %>
    <section class='main'>
      <div class='main-container'>
        <%- include('./component/banner/banner', {
            spanText: JSON.parse(setIntervalTimeNode).spanText,
            bannerImgPC,
            bannerImgMobile,
            langTransfor
          }) %>
        <%- include('./component/about/about', {
            currentStep: JSON.parse(aboutPanelTimeNode).currentStep,
            spanText: JSON.parse(aboutPanelTimeNode).spanText,
            aboutTagList,
            setIntervalTimeNode: aboutPanelTimeNode,
            titleList,
            rule,
            aboutSubList
          }) %>
        <%- include('./component/winners/winners', { winners, winnerNameList, titleList, aboutSubList }) %>
        <%- include('./component/video/video', { videoUrl }) %>
        <%- include('./component/youcanmeet/youcanmeet', { meetUserList, titleList }) %>
        <%- include('./component/termofuser/termofuse') %>
      </div>
    </section>
  </body>