<section id='about' class='about-container'>
  <div class='title-container'>
    <h1> About </h1>
    <p>1 Million Audition</p>
  </div>
  <div class='tab-container'>
    <ul>
      <% for(var i =0; i < aboutTagList.length; i++) { %>
        <li class="<%= i == 0 ? 'active' : null %> subItem tab-item-text"><%= aboutTagList[i] %></li>
      <%
        }
      %>
    </ul>
    <div class='slider'>
      <div class='tab-item mobile-layout'>
        <img src='<%= aboutSubList.abouttab1Phone %>' class='about-tab-1 float-left'/>
        <img src='/act/assets/about_tab_1_2.png' class='m-t-lg about-tab-2 p-l-sm'/>
      </div>
      <div class='tab-item'>
        <div class='tab-item-img-container m-t-lg'>
          <img src='//musically.muscdn.com/ops/upload/default/2018/03/23/15/1e242977-4a8b-4273-b02a-5d4ea306df61.png' class='img-160 m-t-sm tmanual-width'/>
          <img src='//musically.muscdn.com/ops/upload/default/2018/03/23/15/3bb570a5-479c-42b6-917d-b430dbefd361.png' class='img-160 m-t-sm tmanual-width'/>
          <img src='//musically.muscdn.com/ops/upload/default/2018/03/23/15/e5ae4bc8-c02d-4bd0-993e-2a90b4052492.png' class='img-160 m-t-sm tmanual-width'/>
          <img src='//musically.muscdn.com/ops/upload/default/2018/03/23/15/0dbdb01c-fd73-4f72-bb46-c0b31915c4b9.png' class='img-160 m-t-sm tmanual-width'/>
          <img src='//musically.muscdn.com/ops/upload/default/2018/03/23/15/083dbbe8-85a5-4211-8485-940a0b7f745e.png' class='img-160 m-t-sm tmanual-width'/>
        </div>
      </div>
      <div class='tab-item'>
        <div class='tab-item-img-container m-t-lg prize-container'>
          <img src="/act/assets/cash_us.png"></img>
          <img src="/act/assets/prize-level.png"></img>
        </div>
      </div>
      <div class='tab-item'>
        <p> 
          <%= rule.titleText %>
        </p>
        <div class='round-container'>
          <div class='round-card'>
            <h2><%= rule.round1 %></h2>
            <p>
              Mar 30th - Apr 10th
            </p>
          </div>
          <div class='round-card'>
            <h2><%= rule.round2 %></h2>
            <p>
               Apr 12th - Apr 16th
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>