<section id='about' class='about-section'>
  <div class="about-container">
    <section class="tab-container">
      <ul>
        <li class="subItem tab-item-text active">#ShareAndWinIN</li>
        <li class="subItem tab-item-text">Prize & Rules</li>
      </ul>
      <div class='slider'>
        <div class='tab-item mobile-layout'>
          <img src='<%=aboutContainerFile.phone%>' class="phone"/>
          <div class="description">
            <img src='<%=aboutContainerFile.description%>'/>
          </div>
        </div>
        <div class='tab-item prize-layout'>
          <% for(var i in prizeList) { %>
            <div class="prize-item">
              <div class="title-area">
                <h2>
                  <%=prizeList[i].title%>
                </h2>
                <span>
                  <%=prizeList[i].subtitle%>
                </span>
              </div>
              <div class="desc-area">
                <% for(var j =0; j < prizeList[i].desc.length; j++) { %>
                  <span> <%=prizeList[i].desc[j]%> </span>
                <%}%>
              </div>
            </div>
          <%
            }
          %>
          <p>
            <%=aboutContainerFile.prizeRuleClick.content%>
           <a href="#" id="rule"><%=aboutContainerFile.prizeRuleClick.clickHere%></a>
          </p>
        </div>
      </div>
    </section>
  </div>
</section>
    