
<header class="ampstart-headerbar">
  <div class='header-title'>
    <div class='icon'>
      <img src="/act/assets/musically logo@2x.png" />
    </div>
  </div>
  <nav class="ampstart-headerbar-nav ampstart-nav">
    <ul class="list-reset">
      <li class="ampstart-nav-item relative lune-underline-strike">
        <a href="#home" class="text-decoration-none block"><%= navList.home %></a>
      </li>
      <li class="ampstart-nav-item relative lune-underline-strike">
        <a href="#about" class="text-decoration-none block"><%= navList.about %></a>
      </li>
      <li class="ampstart-nav-item relative lune-underline-strike">
        <a href="#media" class="text-decoration-none block"><%= navList.media %></a>
      </li>
      <li class="ampstart-nav-item relative lune-underline-strike">
        <a href="#youcanmeet" class="text-decoration-none block"><%= navList.youcanmeet %></a>
      </li>
    </ul>
  </nav>
  <a href='<%=langTransfor%>' class='lang-transfor'><%= langText %></a>
</header>