<section id='about' class='about-container'>
  <div class='title-container'>
    <h1> About </h1>
    <p>1 Million Audition</p>
  </div>
  <div class='tab-container'>
    <ul>
      <% for(var i =0; i < aboutTagList.length; i++) { %>
        <li class="<%= i == 0 ? 'active' : null %> subItem tab-item-text"><%= aboutTagList[i] %></li>
      <%
        }
      %>
    </ul>
    <div class='slider'>
      <div class='tab-item mobile-layout'>
        <img src='<%= aboutSubList.abouttab1Phone %>' class='about-tab-1 float-left'/>
        <img src='//musically.muscdn.com/ops/upload/default/2018/03/23/11/d77b3fcd-c2a5-44ef-bbda-e5086de5d65c.png' class='m-t-lg about-tab-2 p-l-sm'/>
      </div>
      <div class='tab-item'>
        <div class='tab-item-img-container m-t-lg'>
          <img src='/act/assets/us_about_tab_2_1.png' class='img-160 m-t-sm tmanual-width'/>
          <img src='/act/assets/us_about_tab_2_2.png' class='img-160 m-t-sm tmanual-width'/>
          <img src='/act/assets/us_about_tab_2_3.png' class='img-160 m-t-sm tmanual-width'/>
          <img src='/act/assets/us_about_tab_2_4.png' class='img-160 m-t-sm tmanual-width'/>
          <img src='/act/assets/us_about_tab_2_5.png' class='img-160 m-t-sm tmanual-width'/>
        </div>
      </div>
      <div class='tab-item'>
        <div class='tab-item-img-container m-t-lg prize-container'>
          <img src="/act/assets/cash_us.png"></img>
          <img src="/act/assets/prize-level.png"></img>
        </div>
      </div>
      <div class='tab-item'>
        <p> 
          <%= rule.titleText %>
        </p>
        <div class='round-container'>
          <div class='round-card'>
            <h2><%= rule.round1 %></h2>
            <p>
              Mar 30th - Apr 7th
            </p>
          </div>
          <div class='round-card'>
            <h2><%= rule.round2 %></h2>
            <p>
              Apr 9th - Apr 13th
            </p>
          </div>
        </div>
        <p> 
          <%= rule.subText %>
        </p>
        <p class='m-t-lg'> 
          <a href='javascript:void(0)' id='ruleClick' class='link'> <%= rule.click %> </a>
        </p>
      </div>
    </div>
  </div>
</section>